$space: 8px;

.container {
  margin: auto;
  width: 500px;
  min-width: 360px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  padding: $space;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  font-family: "Ubuntu";
  user-select: none;
  box-sizing: border-box;
}

.media {
  margin: 8px -8px;
}

.media img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  /*border-radius: 12px 12px 0px 0px;*/
}

.postFeed {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.postText {
  margin: $space;
}
